.main {
    width: 100%;
    margin-bottom: 5rem;
}

.item {
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 1.5fr 1fr 1.5fr;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.venue, .location {
    text-align: right;
}
