.main {
    color: red;
}

.table {
    color: blue;
}

.header {
    color: blue;
}

.row {
    color: blue;
}

.start {
    color: blue;
}

.end {
    color: blue;
}

.description {
    color: blue;
}

.location {
    color: blue;
}

.venue {
    color: blue;
}