@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,700;1,700&family=Bebas+Neue&family=Graduate&family=Koulen&family=Mate:ital@0;1&display=swap');
@import url("theme.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Averia Libre', serif;
  letter-spacing: 0.25rem;
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
}

textPath {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Bebas Neue", Arial, sans-serif;
  fill: var(--color-main-text);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {

}


